{% extends "base.html" %}
	{% block title %}{{ page_title }}{% endblock %}
	{% block desc %}{{ page_desc }}{% endblock %}
	{% block content %}
		<div id="index">
			<h1>Community Health Monitor</h1>
			<div id="IMG_PLUS"></div>
			<h2>(( Coming Soon-ish! ))</h2>
			<br>
			<p>Until then, check out <a href="https://github.com/LynnCo/community-health-monitor">source code</a></p>
			<p>Or the <a href="https://docs.google.com/document/d/1wyfq3v1gM0OYL0hICV75wYWJdx9sY7Tfe-weAzKp8Z4/edit#heading=h.mjq852ep52rb">planning document</a></p>
			<p>Or the <a href="http://lynncyrin.me/post/health-tracker">intro post!</a></p>
		</div>
	{% endblock %}
