/*
main.css

Organization:

[HELPERS]
    basic stuff, like add to invisble or disable none
[GLOBAL]
    global styling
        font
        font style
        colors
[BASE LAYOUT]
    base layout
        height / width
        margin and padding
        font size
        shadows
[MOBILE]
    mobile media queries and layout
[EXTERNAL]
    styling for external resources. ex icons and fonts
*/

/*---------------
    HELPERS 
-----------------*/

.visible {opacity: 1;}
.invisible {opacity: 0;}
.none {display: none;}

$primary_color = #8d53a6;
$secondary_color = green;
$body_color = rgba(blue, 0.3);

$primary_font = "Press Start 2P", cursive;
$secondary_font = "Droid Sans Mono", sans-serif;

$mobile_xy = 500px;

/*---------------
    GLOBAL
-----------------*/

a {
    cursor: inherit;
    color: $primary_color;
    text-decoration: inherit; }

nav a {color: black;}
p a {color: $primary_color; text-shadow: 0 0 0.05em $primary_color;}
article a:hover {text-decoration: underline;}
h3 a {color: black;}
h3 a:hover {text-decoration: none; color: $primary_color;}
h3 a {transition: color 0.33s;}
i {text-shadow: none;}

h1, h2, h3, h4, h5 {
    text-shadow: 0 0 0.2em $secondary_color;
}

h1, h2, h3, h4, h5, p {
    text-align: center;
    -webkit-margin-before: 0;  
    -webkit-margin-after: 0;
    margin-top: 0;  
    margin-bottom: 0;
    color: black;
}

html, body, .texture {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: $body_color;
    overflow-x: hidden;
    font-family: $primary_font;
}

#IMG_BACKGROUND {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url(http://i.imgur.com/KcarHKj.png);
    z-index: -1;
    opacity: 0.8;
}

#IMG_PLUS {
    background-image: url(http://i.imgur.com/0CehYNe.png);
    background-position: 50% 50%;
    width: 200px;
    height: 200px;
}

#IMG_PLUS_circle {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: $body_color;
    border-radius: 120px;
}

p {
    text-align: left;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
    box-shadow: 0 5px 5px 2px rgba($secondary_color,.3);
}

/*-------------------
    BASE LAYOUT
---------------------*/

//this media query is just for consistency
@media all {

    nav {
        height: 50px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .index {
        padding-top: 100px;
        margin-left: 100px;
        margin-right: 100px; 
    }

    .description {
        margin-left: 100px;
        margin-right: 100px;
    }

    #IMG_PLUS_circle {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    h2 {
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 10px;
    }

}

/*---------------
    MOBILE
-----------------*/

@media all and (max-height: $mobile_xy), (max-width: $mobile_xy){
    
    html {font-size: 0.7em;}

    nav {
        position: static;
        height: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .index {
        position: static;
        padding-top: 50px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .description {
        margin-left: 0px;
        margin-right: 0px;
    }

}

/*---------------
    EXTERNAL
-----------------*/

.fa-linkedin {color: #4875B4;}
.fa-twitter {color: #33CCFF;}
.fa-skype {color: #12A5F4;}
.fa-envelope {color: gray;}
.fa-github {color: black;}
.fa-rss-square {color: orange;}
.fa {font-size: 1.5em;}

//TWITTER MADE ME DO IT >_<
.twitter-tweet {margin-left: auto !important; margin-right: auto !important;}
